<a href="https://colab.research.google.com/github/zinakhazaee/Libraries/blob/main/pivottablejs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##PivottableJs is an intelligent alternative — drag-drop Pivot Tables and Charts for Jupyter Notebook.

In [2]:
!pip install pivottablejs

Collecting pivottablejs
  Downloading pivottablejs-0.9.0-py2.py3-none-any.whl (4.7 kB)
Installing collected packages: pivottablejs
Successfully installed pivottablejs-0.9.0

In [14]:
import pandas as pd
df = pd.read_csv('student_data.csv')

In [15]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
from pivottablejs import pivot_ui

In [16]:
pivot_ui(df)